.wrapper{
    width : 100vw;
    height : 100vh;
    position :fixed;
    background: rgba(0,0,0,0.5);
    z-index: 10;
}

.container{
    width:600px;
    height : 600px;
    position: absolute;
    top : calc(50% - 300px);
    left : calc(50% - 300px);
    background: #fff;
    border-radius: 10px;
    box-sizing: border-box;
    padding-left: 80px;
    padding-top: 40px;
    display: flex;
    flex-direction: column;
    gap : 20px;
    font-size: 30px;
}

.tags{
    display: flex;
    gap : 10px
}
.input{
    width : 440px;
    height : 30px;
    font-size: 30px;
}

.textarea{
    width : 440px;
    height : 240px;
    font-size: 30px;
}

.send{
    width:130px;
    height:40px;
    border-radius: 10px;
    border:none;
    color: #fff;
    font-size: 15px;
    background-color: blue;
    cursor: pointer;
}

.errMsg{
    margin-left: 20px;
    color: red;
}